@using InvoiceGenerator.Core.Helper
@{
    string backgroundImageUrl = Settings.BackgroundImageUrl;
    string iconUrl = Settings.IconUrl;
    
}

<!DOCTYPE html>
<html lang="en">
<!-- START: Head-->
<head>
    <meta charset="UTF-8">
    <title>@Settings.ApplicationTitle</title>
    <link rel="shortcut icon" href="@iconUrl" />
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- START: Template CSS-->
    @Styles.Render("~/css/mandatory")
    <!-- END Template CSS-->
    <!-- START: Page CSS-->
    @RenderSection("styles", required: false)
    <!-- END: Page CSS-->
    <!-- START: Custom CSS-->
    @Styles.Render("~/css/custom")
    <!-- END: Custom CSS-->
</head>
<!-- END Head-->
<!-- START: Body-->
<body id="main-container" class="default login-body" style="background-image: url('@backgroundImageUrl')">
    <!-- START: Main Content-->
    <div class="container">
        <div class="row vh-100 justify-content-between align-items-center">
            @RenderBody()
        </div>
    </div>
    <!-- END: Content-->
    <!-- START: APP JS-->
    @Scripts.Render("~/js/mandatory")
    <!-- END: APP JS-->
    <!-- START: Page JS-->
    @RenderSection("scripts", required: false)
    <!-- END: Page JS-->
</body>
<!-- END: Body-->
</html>
