@model InvoiceGenerator.Core.ViewModels.Branches.EditBranchViewModel
@{
    ViewBag.Title = "Branch Edit";
    ViewBag.Name = "Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    @Styles.Render("~/css/switches")
}
<div class="row">
    <div class="col-12 mt-3">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    @using (Html.BeginForm("Edit", "Branches", FormMethod.Post, new { id = "EditBranchForm" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        <div class="row">
                            <div class="col-12">
                                <div class="form-row">
                                    <div class="form-group col-lg-6 col-md-12 col-sm-12 mb-3">
                                        @Html.LabelFor(model => model.Code)
                                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control required" } })
                                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-lg-6 col-md-12 col-sm-12 mb-3">
                                        @Html.LabelFor(model => model.Name)
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control required" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-lg-6 col-md-12 col-sm-12 mb-3">
                                        @Html.LabelFor(model => model.ContactPerson)
                                        @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control required" } })
                                        @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-lg-6 col-md-12 col-sm-12 mb-3">
                                        @Html.LabelFor(model => model.ContactNumber)
                                        @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control required" } })
                                        @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 mb-3">
                                        @Html.LabelFor(model => model.Address)
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control required" } })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-4">
                                <button type="submit" class="btn btn-primary" id="FormSubmit"><i class="far fa-save"></i> Save</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/js/switches")
    @Scripts.Render("~/js/branches/edit")
}