<ul id="side-menu" class="sidebar-menu">
    <li class="dropdown">
        <a href="#"><i class="icon-home mr-1"></i>Dashboard</a>
        <ul>
            <li  class="@(ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "Index"  ? "active" : "")"><a href="/"><i class="icon-rocket"></i> Dashboard</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#"><i class="fas fa-file-invoice-dollar mr-1"></i>Invoices</a>
        <ul>
            <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Invoices" && ViewContext.RouteData.Values["Action"].ToString() == "Index"  ? "active" : "")"><a href="@Url.Action("Index", "Invoices")"><i class="fas fa-list"></i> View All Invoices</a></li>
            <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Invoices" && ViewContext.RouteData.Values["Action"].ToString() == "Create"  ? "active" : "")"><a href="@Url.Action("Create", "Invoices")"><i class="fas fa-plus-square"></i> Create New Invoice</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#"><i class="fas fa-user-shield mr-1"></i>Admin</a>
        <ul>
            <li class="dropdown @(ViewContext.RouteData.Values["controller"].ToString() == "Branches" ? "active" : "")">
                <a href="#"><i class="fas fa-building"></i>Branches</a>
                <ul class="sub-menu">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index"  ? "active" : "")"><a href="@Url.Action("Index", "Branches")"><i class="fas fa-list"></i> View All Branches</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Create"  ? "active" : "")"><a href="@Url.Action("Create", "Branches")"><i class="fas fa-plus-square"></i> Create New Branch</a></li>
                </ul>
            </li>
            <li class="dropdown @(ViewContext.RouteData.Values["controller"].ToString() == "Clients" ? "active" : "")">
                <a href="#"><i class="fas fa-users"></i>Clients</a>
                <ul class="sub-menu">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index"  ? "active" : "")"><a href="@Url.Action("Index", "Clients")"><i class="fas fa-list"></i> View All Clients</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Create"  ? "active" : "")"><a href="@Url.Action("Create", "Clients")"><i class="fas fa-plus-square"></i> Create New Clients</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Upload"  ? "active" : "")"><a href="@Url.Action("Upload", "Clients")"><i class="fas fa-upload"></i> Upload Clients</a></li>
                </ul>
            </li>
            <li class="dropdown @(ViewContext.RouteData.Values["controller"].ToString() == "Products" ? "active" : "")">
                <a href="#"><i class="fas fa-boxes"></i>Products</a>
                <ul class="sub-menu">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index"  ? "active" : "")"><a href="@Url.Action("Index", "Products")"><i class="fas fa-list"></i> View All Products</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Create"  ? "active" : "")"><a href="@Url.Action("Create", "Products")"><i class="fas fa-plus-square"></i> Create New Product</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Upload"  ? "active" : "")"><a href="@Url.Action("Upload", "Products")"><i class="fas fa-upload"></i> Upload Products</a></li>
                </ul>
            </li>
            <li class="dropdown @(ViewContext.RouteData.Values["controller"].ToString() == "Users" ? "active" : "")">
                <a href="#"><i class="fas fa-address-card"></i>Users</a>
                <ul class="sub-menu">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index"  ? "active" : "")"><a href="@Url.Action("Index", "Users")"><i class="fas fa-list"></i> View All Users</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Create"  ? "active" : "")"><a href="@Url.Action("Create", "Users")"><i class="fas fa-plus-square"></i> Create User</a></li>
                </ul>
            </li>
            <li class="dropdown @(ViewContext.RouteData.Values["controller"].ToString() == "Transporters" ? "active" : "")">
                <a href="#"><i class="fas fa-truck"></i>Transporters</a>
                <ul class="sub-menu">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index"  ? "active" : "")"><a href="@Url.Action("Index", "Transporters")"><i class="fas fa-list"></i> View All Transporters</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Create"  ? "active" : "")"><a href="@Url.Action("Create", "Transporters")"><i class="fas fa-plus-square"></i> Create Transporter</a></li>
                </ul>
            </li>
            <li class="dropdown @(ViewContext.RouteData.Values["controller"].ToString() == "Settings" ? "active" : "")">
                <a href="#"><i class="fas fa-cog"></i>Settings</a>
                <ul class="sub-menu">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "WaybillSettings"  ? "active" : "")"><a href="@Url.Action("WaybillSettings", "Settings")"><i class="fas fa-list"></i> Waybill Number</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>