@using InvoiceGenerator.Core.Models
@model InvoiceGenerator.Core.ViewModels.Invoices.DetailInvoiceViewModel
@{
    ViewBag.Title = "Invoice Details";
    ViewBag.Name = "Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/css/tagify")
}

<div class="row">
    <div class="col-12 mt-3">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12 col-md-6  d-flex justify-content-between align-items-center">
                        <h4 class="card-title">
                            Basic Information
                        </h4>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <form action="@Url.Action("DownloadInvoiceExcel", "Invoices")" class="float-sm-none float-md-right mt-sm-3 mt-md-0">
                            <input type="hidden" value="@Model.Id" name="Id"/>
                            <button type="submit" class="btn btn-primary"><i class="far fa-file-excel"></i> Download Excel</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                        @Html.LabelFor(model => model.Client)
                        @Html.EditorFor(model => model.Client, new { htmlAttributes = new { @class = "form-control", placeholder = "Client", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.Client, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                        @Html.LabelFor(model => model.InvoiceDate)
                        @Html.TextBoxFor(model => model.InvoiceDate, "{0:dd/MM/yyyy}", new { @class = "form-control", placeholder = "Invoice Date", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.InvoiceDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        @Html.LabelFor(model => model.Transporter)
                        @Html.TextBoxFor(model => model.Transporter, new { @class = "form-control", placeholder = "Transporter", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Transporter, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        @Html.LabelFor(model => model.TransporterPoNumber)
                        @Html.TextBoxFor(model => model.TransporterPoNumber, new { @class = "form-control", placeholder = "Transporter P/O Number", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.TransporterPoNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        @Html.LabelFor(model => model.PoNumber)
                        @Html.EditorFor(model => model.PoNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Po Number", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.PoNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        @Html.LabelFor(model => model.GeneralWaybillNumber)
                        @Html.EditorFor(model => model.GeneralWaybillNumber, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.GeneralWaybillNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        @Html.LabelFor(model => model.BranchName)
                        @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control", placeholder = "Branch", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.BranchCode, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        @Html.LabelFor(model => model.Status)
                        @if (Model.Status == "PD")
                        {
                            <input class="form-control" id="Status" value="Pending" disabled/>
                        }
                        @if (Model.Status == "DL")
                        {
                            <input class="form-control" id="Status" value="Delivered" disabled/>
                        }
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        @Html.LabelFor(model => model.CreatedDate)
                        @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>
                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        @Html.LabelFor(model => model.CreatedUser)
                        @Html.EditorFor(model => model.CreatedUser, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>
                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        @Html.LabelFor(model => model.ModifiedDate)
                        @Html.EditorFor(model => model.ModifiedDate, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>
                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        @Html.LabelFor(model => model.ModifiedUser)
                        @Html.EditorFor(model => model.ModifiedUser, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Invoice Items</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="tab_logic">
                        <thead>
                        <tr>
                            <th class="text-center">Product</th>
                            <th class="text-center">Qty</th>
                            <th class="text-center">Unit Size</th>
                            <th class="text-center">Total Kg</th>
                            <th class="text-center">Total Pallets</th>
                            <th class="text-center">Batch Numbers</th>
                        </tr>
                        </thead>
                        <tbody id="invoiceBody">
                        @foreach (InvoiceItem item in Model.InvoiceItems)
                        {
                            <tr>
                                <td width="30%">
                                    <input type="text" class="form-control" value="@item.Product.Name" readOnly/>
                                </td>
                                <td>
                                    <input type="text" class="form-control" value="@item.Quantity" readOnly/>
                                </td>
                                <td>
                                    <input type="text" class="form-control unitSize" value="@item.UnitSize" readOnly/>
                                </td>
                                <td>
                                    <input type="text" class="form-control totalKg" value="@item.TotalKg" readOnly/>
                                </td>
                                <td>
                                    <input type="text" class="form-control" value="@item.Pallets" readOnly/>
                                </td>
                                <td>
                                    <input value="@item.BatchNumbers" class="tags" readOnly>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    @if (Model.ShouldDownload)
    {
        <script type="text/javascript">
        window.onload = function() {
              window.open('/Invoices/DownloadInvoiceExcel?id=@(Model.Id)', '_blank');
        };
    </script>
    }

    @Scripts.Render("~/js/tagify")
    @Scripts.Render("~/js/invoices/details")
}